.section{
font-style: normal;
font-size: 30px;
color: blue;

}
.title{
font-size: 20px;
color: blue;

}

table{
    width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
text-align: left;
border: 1px solid #dddddd;

}
 thead th{
 text-align: left;   
background-color: #d7e9f0;
border: none;
padding:  10px 15px;
font-weight: bold;
font-size: 14px;
vertical-align: top;
}
 tbody td{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size :14px;
    vertical-align:top;

}
img{
    width: 300px;
    height: 150pt;
}
a{
color: chartreuse;
text-decoration: underline;
}

h2{
    font-size: 18px;
}
button{
    background-color: rgb(38, 171, 201);
    height: 30px;
    width: 180px;
    color: white;
}

.end{
    background-color:blue ;
    color: white;
    text-align: center;
    width: 100%; 
    height:50px;
    padding:25px ;
}
input{
    width: 100%;
    height: 20px;
}


